<%= stylesheet_link_tag "application.css" %>

<div class="welcome">
<h1 class="welcome">DrugRef</h1>
<h3>-- A quick reference for drugs pushable by EMTs in the state of Massachusetts --</h3>

<p><%= link_to 'Enter Site', drugs_path %></p>
</div>