/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body{
	text-align: center;
	background: url("http://www.pptclipart.com/thumb/Medical-capsule-free-ppt-backgrounds.jpg");
	background-size: cover;

}

h1.welcome{
	font-size: 70px;
}

div.welcome{
	margin-top: 250px;
}

h1{
	color: rgba(54, 153, 223, 1);
	font-family: Marker Felt;
}

h2{
	color: rgba(54, 153, 223, 1);
	font-family: Marker Felt;
}

h3{
	color: rgba(153, 153, 223, 1);
	font-family: Marker Felt;
}

a{
	color: black;
}

ul {
 	list-style-type: none;
 	padding: 0;
 	margin: 0;
 	background: rgba(54, 153, 223, 0.4);
}
strong{
	font-size: 150%;
}
